* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.my-div, .count-div {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.my-div h1 {
    margin-top: 10px;
}
.my-div h3{
    margin: 25px;
}

.btn-pink{
    padding: 8px 16px;
    color: white;
    background: hotpink;
    margin: 10px auto 10px auto;
    border: none;
    outline: none;
}