<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Vue - Rocket.rs Website</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div id="vue-app">
    <router-view></router-view>
</div>
<script src="/static/js/axios.js"></script>
<script src="/static/js/vue.js"></script>
<script src="/static/js/vue-router.js"></script>
<script src="/static/js/components/hello-component.js"></script>
<script src="/static/js/components/count.js"></script>
<script src="/static/js/vuex.js"></script>
<script src="/static/js/store.js"></script>
<script src="/static/js/routes.js"></script>
<script src="/static/js/custom.js"></script>
</body>
</html>